{% extends 'base.html.twig' %}
{% block body %}

<h1>Bienvenue Sur notre siteweb</h1>
<p>azauzr azurauizjr azirunaiuzr februve bcze zeunzef 
    zuerez eiztjze zeizef uzeryzet zeurze uezrizetoze 
    zetoze zeh</p>

    <p>azauzr azurauizjr azirunaiuzr februve bcze zeunzef 
            zuerez eiztjze zeizef uzeryzet zeurze uezrizetoze 
            zetoze zeh</p>
    

<form class="form-inline my-2 my-lg-0">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    {{ form_end(form) }}
</form>
{% endblock %}